<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581078789001-1looa8sk82gg3ad6pk3tldd3pho05td7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581078789001-1looa8sk82gg3ad6pk3tldd3pho05td7</string>
	<key>API_KEY</key>
	<string>AIzaSyChZfEZfh-T_h1vVSuJ7TKoH0mxzRaDyCU</string>
	<key>GCM_SENDER_ID</key>
	<string>581078789001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listviewpractice123</string>
	<key>PROJECT_ID</key>
	<string>newfirebasepractice-5a0ce</string>
	<key>STORAGE_BUCKET</key>
	<string>newfirebasepractice-5a0ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581078789001:ios:d5e5639344e1a88921cf58</string>
</dict>
</plist>